<h1>Carted Product</h1>

<h2>Id: <%= @carted_product['id'] %></h2>
<h2>Product: <%= @carted_product['product']['name'] %></h2>
<h2>User Id: <%= @carted_product['user_id'] %></h2>
<h2>Quantity: <%= @carted_product['quantity'] %></h2>
<h2>Status: <%= @carted_product['status'] %></h2>
